.ak-grid-col-4-of-12,.ak-grid-col-6-of-12,.ak-grid-col-8-of-12  {float:left; }
.ak-grid-col-4-of-12, .ak-grid-col-6-of-12 {padding-right:20px;}
#ak-amount-list {overflow: visible!important;}
#ak-amount-list li label { background-color: #2285d7; color: #fff;}
.ak-grid-row h2 {font-size:2.5em; font-weight:bold;}

@media (max-width:479px) {
.ak-grid-col-4-of-12,.ak-grid-col-8-of-12, .ak-grid-col-6-of-12 {float:none; width:100%}
}
#ak-donation_comment {width:100%; height:3em; 1px solid #ccc;}

label.ak-survey-question-label {font-weight:bold; margin-top:2em;}
.ak-field-box div:first-child label.ak-survey-question-label {margin-top:0;}

/************PRODUCTS*********************/
#ak-product-list table tbody tr td .ak-product-description { border-bottom: solid 1px #ccc; }

.ak-product-amount input[type="checkbox"] {
    display: none;
}

.ak-product-amount input[type="checkbox"] + label {
    display: inline-block;
    /* width: 25px; */
    /* height: 1.5em; */
    border-radius:8px;
    background-color: #2285d7;
    padding: 5px 30px;
    color: #fff;
}

label.ak-donate-step:hover div.ak-donate-circle {
background: #2285d7;
    border: 2px solid #2285d7
}
label.ak-donate-step div.ak-donate-circle {
height: 25px;
width:25px;
}

label.ak-donate-step:hover {
color: #2285d7;

.ak-product-amount input[type="checkbox"]:checked + label {
    background-color: #01a3a7 !important;
}
#ak-product-list {
border-bottom: solid 1px #bbb;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
}

.ak-original-progress-meter .progress-holder .progress-bar { background-color: #2285d7; }
.progress-caption .percent { color: #2285d7; }
