{% extends "./wrapper.html" %}

{% load actionkit_tags %}



{% block content %}

<script type="text/javascript">
/* global saveAs, Blob, BlobBuilder, console */
/* exported ics */


var ics = function( uidDomain, prodId ) {
    'use strict';

    if (navigator.userAgent.indexOf('MSIE') > -1 && navigator.userAgent.indexOf('MSIE 10') == -1) {
        console.log('Unsupported Browser');
        return;
    }

	if (typeof uidDomain === 'undefined') { uidDomain = 'default'; }
	if (typeof prodId === 'undefined') { prodId = 'Calendar'; }
	
    var SEPARATOR = (navigator.appVersion.indexOf('Win') !== -1) ? '\r\n' : '\n';
    var calendarEvents = [];
    var calendarStart = [
        'BEGIN:VCALENDAR',
		'PRODID:'+prodId,
        'VERSION:2.0'
    ].join(SEPARATOR);
    var calendarEnd = SEPARATOR + 'END:VCALENDAR';

    return {
        /**
         * Returns events array
         * @return {array} Events
         */
        'events': function() {
            return calendarEvents;
        },

        /**
         * Returns calendar
         * @return {string} Calendar in iCalendar format
         */
        'calendar': function() {
            return calendarStart + SEPARATOR + calendarEvents.join(SEPARATOR) + calendarEnd;
        },

        /**
         * Add event to the calendar
         * @param  {string} subject     Subject/Title of event
         * @param  {string} description Description of event
         * @param  {string} location    Location of event
         * @param  {string} begin       Beginning date of event
         * @param  {string} stop        Ending date of event
         */
        'addEvent': function(subject, description, location, begin, stop) {
            // I'm not in the mood to make these optional... So they are all required
            if (typeof subject === 'undefined' ||
                typeof description === 'undefined' ||
                typeof location === 'undefined' ||
                typeof begin === 'undefined' ||
                typeof stop === 'undefined'
            ) {
                return false;
            };

            //TODO add time and time zone? use moment to format?
            var start_date = new Date(begin);
            var end_date = new Date(stop);
			var now_date = new Date();

            var start_year = ("0000" + (start_date.getFullYear().toString())).slice(-4);
            var start_month = ("00" + ((start_date.getMonth() + 1).toString())).slice(-2);
            var start_day = ("00" + ((start_date.getDate()).toString())).slice(-2);
            var start_hours = ("00" + (start_date.getHours().toString())).slice(-2);
            var start_minutes = ("00" + (start_date.getMinutes().toString())).slice(-2);
            var start_seconds = ("00" + (start_date.getMinutes().toString())).slice(-2);

            var end_year = ("0000" + (end_date.getFullYear().toString())).slice(-4);
            var end_month = ("00" + ((end_date.getMonth() + 1).toString())).slice(-2);
            var end_day = ("00" + ((end_date.getDate()).toString())).slice(-2);
            var end_hours = ("00" + (end_date.getHours().toString())).slice(-2);
            var end_minutes = ("00" + (end_date.getMinutes().toString())).slice(-2);
            var end_seconds = ("00" + (end_date.getMinutes().toString())).slice(-2);
			
            var now_year = ("0000" + (now_date.getFullYear().toString())).slice(-4);
            var now_month = ("00" + ((now_date.getMonth() + 1).toString())).slice(-2);
            var now_day = ("00" + ((now_date.getDate()).toString())).slice(-2);
            var now_hours = ("00" + (now_date.getHours().toString())).slice(-2);
            var now_minutes = ("00" + (now_date.getMinutes().toString())).slice(-2);
            var now_seconds = ("00" + (now_date.getMinutes().toString())).slice(-2);

            // Since some calendars don't add 0 second events, we need to remove time if there is none...
            var start_time = '';
            var end_time = '';
            if (start_hours + start_minutes + start_seconds + end_hours + end_minutes + end_seconds != 0) {
                start_time = 'T' + start_hours + start_minutes + start_seconds;
                end_time = 'T' + end_hours + end_minutes + end_seconds;
            }
			var now_time = 'T' + now_hours + now_minutes + now_seconds;

            var start = start_year + start_month + start_day + start_time;
            var end = end_year + end_month + end_day + end_time;
			var now = now_year + now_month + now_day + now_time;

            var calendarEvent = [
                'BEGIN:VEVENT',
				'UID:'+calendarEvents.length+"@"+uidDomain,
                'CLASS:PUBLIC',
                'DESCRIPTION:' + description,
				'DTSTAMP;VALUE=DATE-TIME:' + now,
                'DTSTART;VALUE=DATE-TIME:' + start,
                'DTEND;VALUE=DATE-TIME:' + end,
                'LOCATION:' + location,
                'SUMMARY;LANGUAGE=en-us:' + subject,
                'TRANSP:TRANSPARENT',
                'END:VEVENT'
            ].join(SEPARATOR);

            calendarEvents.push(calendarEvent);
            return calendarEvent;
	addEvent('Best day', 'This is the best day to demonstrate a single event.', 'New York', '05/24/2017', '05/24/2017');
        },

        /**
         * Download calendar using the saveAs function from filesave.js
         * @param  {string} filename Filename
         * @param  {string} ext      Extention
         */
        'download': function(filename, ext) {
            if (calendarEvents.length < 1) {
                return false;
            }

            ext = (typeof ext !== 'undefined') ? ext : '.ics';
            filename = (typeof filename !== 'undefined') ? filename : 'calendar';
            var calendar = calendarStart + SEPARATOR + calendarEvents.join(SEPARATOR) + calendarEnd;

            var blob;
            if (navigator.userAgent.indexOf('MSIE 10') === -1) { // chrome or firefox
                blob = new Blob([calendar]);
            } else { // ie
                var bb = new BlobBuilder();
                bb.append(calendar);
                blob = bb.getBlob('text/x-vCalendar;charset=' + document.characterSet);
            }
            saveAs(blob, filename + ext);
            return calendar;
        },
		
		/**
         * Build and return the ical contents
         */
        'build': function() {
            if (calendarEvents.length < 1) {
                return false;
            }

            var calendar = calendarStart + SEPARATOR + calendarEvents.join(SEPARATOR) + calendarEnd;

            return calendar;
        }
    };
};


</script>

{% if signup and not event.is_inactive %}



    <!-- Title -->

    <!-- Sidebar -->

    <div class="ak-grid-row">

        <div class="ak-grid-col-12-of-12">

            {% if campaign.use_title %}

                <h2>Event: {{ event.title }}</h2>

            {% else %}

                <h2>Event: {{ campaign.local_title }}</h2>

            {% endif %}



            {% if campaign.use_title %}

                <h3>{{ campaign.local_title }}</h3>

            {% endif %}



            <!-- Message from mothership -->

            <div id="attendee-tools-intro">

                {{ form.tools_text|safe }}

            </div>

        </div>

    </div><!--ak-grid-row-->



    <div class="ak-grid-row">

        <div class="ak-grid-col-12-of-12">

            <h3>Event Tools</h3>

            <ul id="event-attendee-links" class="ak-links-menu">

                {{ form.tools_sidebar|safe }}

                <li><a href="../cancel_signup/?akid={{ args.akid }}">Cancel signup</a></li> |

                <li class="narrower"><a href="#" onclick="$('.contact').slideDown('slow'); $(this).before(this.firstChild)">Email host</a>

                    

                </li>
                <li><a href="javascript:cal_single.download('fcnl-event')">Add to your calendar</a>

            </ul>
            
            <div class="ak-grid-col-6-of-12">
            
            {% include "./event_contact.html" %}
            </div>

        </div><!--ak-grid-row-->

    </div><!--ak-grid-col-12-of-12-->

    <div class="ak-grid-row">

        <div class="ak-grid-col-6-of-12">



            <div id="event-attendee-details" class="ak-clearfix ak-margin-bottom-3">

                {% include "./event_attendee_details.html" %}

            </div>

            
        </div>

        <div class="ak-grid-col-6-of-12 event-attendee-tools">

            <div class="event-attendee-sidebar">

<div class="ak-clearfix">

               {% if event.is_open_for_signup %}

        			{% include "./event_invite.html" %}

    			{% endif %}

    		</div>


              <!--  <div id="ak-map">

                    	<iframe src="//www.google.com/maps/embed/v1/place?q={{ event.address1|urlencode }}, {{ event.city_etc|urlencode }}
      &key=AIzaSyCqC-M0AKpFkQtigs-Eda4M4yvC0Xu8fKY
" frameborder="0" style="border:0" width="100%">

                    <form class="directions-form ak-styled-fields" action="http://maps.google.com/maps/" method="get">

                        <input size=26 type="text" name="saddr" value="Enter your street address" style="color: #777;" onfocus="this.style.color='black'; if(this.value=='Enter your street address') this.value='';">

                        <input type="hidden" name="daddr" value="{{ event.address1 }}, {{ event.city_etc }}">

                        <button type="submit" class="ak-btn-search">Get Directions</button>

                    </form>

                </div>-->

            </div> 

        </div><!--ak-grid-col-6-of-12-->

    </div>

    

 



{% else %}

    {% if event.is_inactive %}

        <h2>Sorry, this event has been cancelled.</h2>

    {% endif %}

    {% if not signup %}

        {% comment %}

        This message also shows if you were removed by the host.

        {% endcomment %}

        {% if args.cancel_success %}

            <h2>Your signup was cancelled successfully.</h2>

        {% else %}

            <h2>You aren't currently signed up for this event.</h2>



            <p>If you think this is a mistake, check that you cut-and-pasted the entire link to this page.</p>

        {% endif %}

    {% endif %}

    <div><a href="/event/{{ campaign.local_name }}/?akid={{args.akid}}&zip={{args.zip}}">Search for another event</a></div>

{% endif %}



{% endblock %}



{% block below_form %}



<script type="text/javascript">

    actionkit.forms.contextRoot = '/context/';

    actionkit.forms.initTafForm('taf');

</script>




{% endblock %}
