{% extends "./wrapper.html" %}

{% load actionkit_tags %}



{% block content %}

<!-- AddEvent -->
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
<!-- AddEvent Settings -->
<script type="text/javascript">
window.addeventasync = function(){
    addeventatc.settings({
        license    : "aIAOGjiztzJjzdCBtmZH28901",
        mouse      : false,
        css        : true,
        outlook    : {show:true, text:"Outlook"},
        google     : {show:true, text:"Google <em>(online)</em>"},
        yahoo      : {show:true, text:"Yahoo <em>(online)</em>"},
        outlookcom : {show:true, text:"Outlook.com <em>(online)</em>"},
        appleical  : {show:true, text:"Apple Calendar"},
        facebook   : {show:true, text:"Facebook Event"},
        dropdown   : {order:"outlook,google,appleical"}
    });
};
</script>

{% if signup and not event.is_inactive %}



    <!-- Title -->

    <!-- Sidebar -->

    <div class="ak-grid-row">

        <div class="ak-grid-col-12-of-12">
		
            {% if campaign.use_title %}

                <h2>Event: {{ event.title }}</h2>

            {% else %}

                <h2>Event: {{ campaign.local_title }}</h2>

            {% endif %}



            {% if campaign.use_title %}

                <h3>{{ campaign.local_title }}</h3>

            {% endif %}



            <!-- Message from mothership -->

            <div id="attendee-tools-intro">

                {{ form.tools_text|safe }}

            </div>

        </div>

    </div><!--ak-grid-row-->



    <div class="ak-grid-row">

        <div class="ak-grid-col-12-of-12">

            <h3>Event Tools</h3>

            <ul id="event-attendee-links" class="ak-links-menu">

                {{ form.tools_sidebar|safe }}

                <li><a href="../cancel_signup/?akid={{ args.akid }}">Cancel signup</a></li> |

                <li class="narrower"><a href="#" onclick="$('.contact').slideDown('slow'); $(this).before(this.firstChild)">Email host</a>

                    

                </li>
                

            </ul>
            
            <div class="ak-grid-col-6-of-12">
            
            {% include "./event_contact.html" %}
            </div>

        </div><!--ak-grid-row-->

    </div><!--ak-grid-col-12-of-12-->

    <div class="ak-grid-row">

        <div class="ak-grid-col-6-of-12">



            <div id="event-attendee-details" class="ak-clearfix ak-margin-bottom-3">

                {% include "./event_attendee_details.html" %}

            </div>

            
        </div>

        <div class="ak-grid-col-6-of-12 event-attendee-tools">

            <div class="event-attendee-sidebar">

<div class="ak-clearfix">
	
	<a href="" class="Button Button--large Button--blue Button--titleCase" style="margin: 0 auto 1em;">{% with event.custom_fields.ends_at as endtime %}{{ endtime|load_datetime:"%Y-%m-%d %I:%M %p"|date:"f A" }}{% endwith %}</a>
<div title="Add to Calendar" class="addeventatc">
    Add to Calendar
    <span class="start">06/19/2017 09:00 AM</span>
    <span class="end">06/19/2017 11:00 AM</span>
    <span class="timezone">America/New_York</span>
    <span class="title">Summary of the event</span>
    <span class="description">Description of the event</span>
    <span class="location">Location of the event</span>
    <span class="organizer">Organizer</span>
    <span class="organizer_email">Organizer e-mail</span>
    <span class="facebook_event">https://www.facebook.com/events/703782616363133</span>
    <span class="all_day_event">true</span>
    <span class="date_format">MM/DD/YYYY</span>
    <span class="alarm_reminder">15</span>
    <span class="recurring">FREQ=DAILY;COUNT=10</span>
    <span class="calname">Custom event filename</span>
    <span class="uid">event123</span>
    <span class="status">confirmed</span>
    <span class="client">aIAOGjiztzJjzdCBtmZH28901</span>
    <span class="method">REQUEST</span>
</div>
               {% if event.is_open_for_signup %}

        			{% include "./event_invite.html" %}

    			{% endif %}

    		</div>


              <div id="ak-map">

                    	<iframe src="//www.google.com/maps/embed/v1/place?q={{ event.address1|urlencode }}, {{ event.city_etc|urlencode }}
      &key=AIzaSyCqC-M0AKpFkQtigs-Eda4M4yvC0Xu8fKY
" frameborder="0" style="border:0" width="100%">

                    <form class="directions-form ak-styled-fields" action="http://maps.google.com/maps/" method="get">

                        <input size=26 type="text" name="saddr" value="Enter your street address" style="color: #777;" onfocus="this.style.color='black'; if(this.value=='Enter your street address') this.value='';">

                        <input type="hidden" name="daddr" value="{{ event.address1 }}, {{ event.city_etc }}">

                        <button type="submit" class="ak-btn-search">Get Directions</button>

                    </form>

                </div>

            </div> 

        </div><!--ak-grid-col-6-of-12-->

    </div>

    

 



{% else %}

    {% if event.is_inactive %}

        <h2>Sorry, this event has been cancelled.</h2>

    {% endif %}

    {% if not signup %}

        {% comment %}

        This message also shows if you were removed by the host.

        {% endcomment %}

        {% if args.cancel_success %}

            <h2>Your signup was cancelled successfully.</h2>

        {% else %}

            <h2>You aren't currently signed up for this event.</h2>



            <p>If you think this is a mistake, check that you cut-and-pasted the entire link to this page.</p>

        {% endif %}

    {% endif %}

    <div><a href="/event/{{ campaign.local_name }}/?akid={{args.akid}}&zip={{args.zip}}">Search for another event</a></div>

{% endif %}



{% endblock %}



{% block below_form %}



<script type="text/javascript">

    actionkit.forms.contextRoot = '/context/';

    actionkit.forms.initTafForm('taf');

</script>




{% endblock %}
