{% extends "./wrapper.html" %}
{% load actionkit_tags %}

{% block script_additions %}

<script type="text/javascript">
    function toggleChooser(on) {
        var name,
            to_row = $("#to_target_row"),
            media_target = $("#media_target"),
            lte_letter = $('#lte-letter');

        if (on) {
            media_target.fadeIn('fast');
            lte_letter.fadeOut('fast');
            to_row.fadeOut('fast');
            $("input[name=media_target]:checked").attr('checked', false);
        } else {
            media_target.fadeOut('fast');
            lte_letter.fadeIn('fast');
            to_row.fadeIn('slow');
            name = $("input[name=media_target]:checked").closest(".ak-newspaper-row").find('.ak-newspaper-title a').html();
            console.log($("input[name=media_target]:checked"));
            $("#to_target_name").html("Editor, " + name);
            $("html body").scrollTop($("form.ak-form").position().top);
        }
    }

    $("input[name=media_target]").change(function() { toggleChooser(false) } );

    // adapted from http://blog.themeforest.net/tutorials/creating-a-jquery-word-counter/
    function countWords(textarea) {

        var elClass = $(textarea).attr('class');
        var minWords = 0;
        var maxWords = 0;
        var countControl = elClass.substring((elClass.indexOf('count['))+6, elClass.lastIndexOf(']')).split(',');
        var countArea = $(textarea).siblings(".wordCount");
    
        if(countControl.length > 1) {
            minWords = countControl[0];
            maxWords = countControl[1];
        } else {
            maxWords = countControl[0];
        }   
    
        if(minWords > 0) {
            countArea.addClass('error');
        }   
    
        $(textarea).bind('keyup click blur focus change paste', function() {
            var numWords = jQuery.trim($(this).val()).split(/\s+/).length;
            if($(textarea).val() === '') {
                numWords = 0;
            }   
            countArea.children('strong').text(numWords);
        
            if(numWords < minWords || (numWords > maxWords && maxWords != 0)) {
                countArea.addClass('count_error');
            } else {
                countArea.removeClass('count_error');    
            }
        });
    }
    function commify(n) {
        return n.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
    }
    function abbreviate(word, maxLength) {
        return word.length <= maxLength ? 
            word : word.substring(0, maxLength - 3) + "...";
    }

    $(window).load(function() {
        letters = $('div[id^="letter_"]');
        var start = letters.first().attr('id').split("_").pop();
        var counter = start;
        letters.each(function() {
            $('#letter_'+counter).insertAfter('a[href="#letter_'+counter+'_link"]');
            counter++;
        });

        $('#lte-help ul li a').next('div').hide();

        $("#lte-help ul li").on('click', function() {
            $(this).toggleClass('active');
            var content = $(this).find('span').next('div');
            content.slideToggle();

        });

        $('#lte-help ul li a').after('<span class="ak-arrow-holder"><span class="ak-arrow"></span></span>');

    });

</script>

{% endblock %}

{% block css_additions %}

<style type="text/css">
    .count_error { color: red; }
    td { vertical-align: baseline; }
    td.textarealabel { vertical-align: top; }
    #media_target table tr td label { font-weight: normal; }
    #media_target table tr td { padding: 1px; padding-left: 5px; white-space:nowrap; }
    tr.level_header td { font-weight: bold; padding-top: 6px !important; white-space: nowrap; }
    tr.shaded td { background-color: #ddd; }
    td.number { text-align: right; }

.ak-styled-fields textarea {
    min-height: 600px; 
}


</style>

{% endblock %}
{% block content %}

<form class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8">

    <div class="ak-grid-row">
        <div class="ak-grid-col ak-grid-col-12-of-12">
            <h2>{{ page.title }}</h2>
        </div>
    </div>

    <div class="ak-grid-row">
        <div class="ak-grid-col ak-grid-col-6-of-12">
            
            {% if page.custom_fields.featured_image %}
            <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
            {% endif %}

            <div class="ak-styled-description">
                {% include_tmpl form.introduction_text %}
            </div>

            <div id="lte-prelim"></div>

            <div id="user_info_prompt">
            </div>

            <div id="lte-help"></div>
            <script type="text/ak-template" for="lte-help">

                <ul>
					{% if form.talking_points %}
                    <li><a href="#talking_points">Talking Points</a>
                        <div id="talking_points">
                            {% include_tmpl form.talking_points %}
                        </div>
                    </li>
                    {% endif %}
                    {% if form.writing_tips %}
                    <li><a href="#writing_tips">Writing Tips</a>                   
                        <div id="writing_tips">
                            {% include_tmpl form.writing_tips %}
                        </div>
                    </li>
                    {% endif %}
                    {% for letter in form.cannedletter_set.all %}       
                    <li><a href="#letter_{{letter.id}}_link">Sample: {{ letter.subject|truncateletters:"20" }}</a></li>
                    {% endfor %}

                    {% for letter in form.cannedletter_set.all %}       
                    <div id="letter_{{letter.id}}">
                        <h5>Subject:</h5>{{letter.subject}}
                        <h5>Message:</h5>{{letter.letter_text|linebreaks}}
                    </div>
                    {% endfor %}
                </ul>

            </script>

            <input type="hidden" name="page" value="{{ page.name }}">

        </div>
        <div class="ak-grid-col ak-grid-col-6-of-12">
            {% include "./progress_meter.html" %}

            <script type="text/ak-template" for="user_info_prompt">
                [% if (incomplete) { %]
                    <p>Please enter your information so we can find newspapers for you to contact.</p>
                [% } %]
            </script>
            <div class="ak-styled-fields {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">
                {% include "./user_form_wrapper_local.html" %}
            </div>

            <div id="media_target"></div>

            <script type="text/ak-template" for="media_target">

                [% if (!incomplete) { %]
                    <p>Choose a newspaper to send a letter to:</p>

                [%  
                var headers = {
                    "local": "Local Newspapers",
                    "regional": "Regional Newspapers",
                    "national": "National Newspapers"
                };

                var mediaTargets = actionkit.context.mediaTargets || {};
                var mediaTargetTypes = ['national', 'regional', 'local'];
                for (var j = 0; j < mediaTargetTypes.length; j++) {
                    var mediaTargetType = mediaTargetTypes[j];
                    var targetsOfType = mediaTargets[mediaTargetType];
                    if (targetsOfType) {
                        %]
                        <div class="ak-newspaper">
                            <h3>[%=headers[mediaTargetType]%]</h3>

                        </div>
                        [%        
                        var shade = true;
                        for (var i = 0; i < targetsOfType.length; i++) {
                            var mediaTarget = targetsOfType[i],
                            targetId = "media_target_" + mediaTarget.id,
                            name = abbreviate(mediaTarget.name, 30),
                            label = "<a>" + name + "</a>";
                            if (mediaTarget.website_url) {
                                label = "<a target=\"_blank\" href=\"" + mediaTarget.website_url + "\">" + name + "</a>";
                            }
                            shade = !shade;
                            %]
                            <div class="[%= shade ? "shaded" : "" %] ak-newspaper-row">
                                <div class="ak-newspaper-title">[%=label%]</div>
                                <div>

                                    <label for='[%=targetId%]'>
                                        <input class='media_target' id='[%=targetId%]' value='[%=mediaTarget.id%]'
                                        type='radio' name='media_target' onclick='javascript:toggleChooser(false)'>
                                        Select</label>

                                    </div>
                                    <div class="number"><strong>Circulation:</strong> [%=commify(mediaTarget.circulation)  %]</div>

                                    [% if (actionkit.context.show_phones && mediaTarget.phone) { %]

                                        <div class="nowrap"><strong>Phone:</strong> [%=mediaTarget.phone%]</div>

                                    [% } %]
                                    <div class="number"><strong>Sent:</strong> [%=mediaTarget.sent%]</div>
                                </div>
                                [%
                            }
                        }
                    }
                } %]

            </script>

            <div id="lte-letter"></div>
            <script type="text/ak-template" for="lte-letter">
                [% if (!incomplete) { %]
                    <table class="ak-styled-fields">
                        <tr id="to_target_row" style="display: none;">
                            <td>To:</td>
                            <td>
                                <span id="to_target_name"></span>
                                <span style="font-size: smaller"> &nbsp; <a href="#" onclick="javascript:toggleChooser(true)">change</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Subject</td>
                            <td><input id="letter_subject" type="text" name="subject" size="40"></td>
                        </tr>
                        <tr>
                            <td class="textarealabel">Message</td>
                            <td>
                                <textarea id="letter_text" name="letter_text" class="count[250]"></textarea>
                                <div class="wordCount"><strong>0</strong> Words.  Most newspapers only consider letters of 250 to 350 words.</div>
                            </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td>Your name, address and phone number will be added as a signature.</td>
                        </tr>
                    </table>
                [% } %]
            </script>

            <div id="lte-submit"><button type="submit" class="ak-styled-submit-button">Submit</button></div>

        </div>

    </div>
</form>

<div id="na"></div>
<script type="text/ak-template" for="na">
    [%
    /* Done inside an ak-template to ensure this executes after other ak-templates. */
    if (!incomplete) {
        /* $("#lte-help").tabs(); */
        countWords($("#letter_text")[0]);
    }
    %]
</script>

{% endblock %}