{% extends "./wrapper.html" %}
{% load actionkit_tags %}

{% block content %}
{% autoescape off %}

{% if actionkit_user %}
    {% if recurring_update or recurring_cancel %}
        <p class="area">
            {% filter ak_text:"logged_in_as" %}You are logged in as{% endfilter %} {{ actionkit_user.name }}. 
            <a href="/logout">{% filter ak_text:"logout" %}Click to log out.{% endfilter %}</a>
        </p>
    {% endif %}
{% endif %}

{% if page.SUPPRESS_SHARING or page.custom_fields.suppress_sharing %}
	<p>{% include_tmpl form.thank_you_text %}</p>
{% else %}

    <div class="ak-grid-row">
        <div class="ak-grid-col-6-of-12">
            <h3>
                <img src="/media/modern/stance-supportive.svg" width="34" class="checkmark-icon" alt="&#10003;">  
                {% if page.followup.send_taf and args.taf %}
            		{% filter ak_text:"tell_your_friends_banner" %}
                    Share this action!
            		{% endfilter %}
                {% else %}
                    {% filter ak_text:"notaf_thanks_banner" %}
                    Thanks!
                    {% endfilter %}
                {% endif %}
            </h3>
            <div>
                {% include_tmpl form.thank_you_text %} 
            </div>
            <form name="taf">
                <input type="hidden" name="page" value="{{ page.name }}">
                {% include "./progress_meter.html" %}
            </form>
        </div>

        <div class="ak-grid-col-6-of-12 ak-margin-top-2">
            <div>
                <a href="/share/link?type=fb&amp;page_name={{page.name}}&amp;action_id={{action.id}}&amp;akid={{akid}}" class="ak-share-button ak-facebook" target="_blank">Post to Facebook</a>
            </div>

            <div>
                <a class="ak-share-button ak-twitter" href="/share/link?type=tw&amp;page_name={{page.name}}&amp;action_id={{action.id}}&amp;akid={{akid}}" target="_blank">Share on Twitter</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>

            {% if page.followup.send_taf and args.taf %}
                <div>
                    <a href="mailto:?subject={{ page.followup.taf_subject|urlencode }}&amp;body={% filter referring_akid:akid|tag_links:"source=mailto"|urlencode %}{% include_tmpl page.followup.taf_body escaped %}{% endfilter %}" class="ak-share-button ak-email" target="_blank">{% filter ak_text:"taf_mailto_ask" %}Send an email now {% endfilter %}</a>
                </div>
                
                <div id="copy-and-paste">
                    <p class="normal">Or copy and paste the text below into an email message:</p>
                    <textarea class="ak-share-message" readonly>Subject: {{ page.title }}
{% filter referring_akid:akid|tag_links:"source=taf" %}{% include_tmpl page.followup.taf_body escaped %}{% endfilter %}
                    </textarea>
                </div>
                <input type="hidden" value="{{ page.canonical_url }}"> <a href="/share/link?as_text=1&amp;type=ot&amp;page_name={{page.name}}&amp;action_id={{action.id}}&amp;akid={{akid}}" target="_blank" style="display: none"></a>

                <div id="ak-confirmation">
                    {% filter ak_text:"taf_confirmation" %}Sent!  If you like, you can send more messages below.{% endfilter %}
                </div><!--akconfirmation-->

                <form name="taf" method="POST" action="/update_action/" accept-charset="utf-8" class="ak-thanks ak-styled-fields">
                    <input type="hidden" name="page" value="{{ page.name }}">
	
                    <div id="taf-preview" class="taf-preview last ak-percent-full ak-padding-left-none ak-hidden-mobile">
                        
                        <p class="normal ak-align-right">
                            <a class="ak-emailalt" id="send-message-using-site" for="id_taf_body">{% filter ak_field_label:"taf_preview" %}<span>Or, send a message using our site</span>{% endfilter %} &nbsp; <span class="ak-arrow-holder"><span class="ak-arrow-inline"></span></span></a>
                        </p>

                        <div id="taf-form" class="ak-field-box ak-labels-before ak-percent-full ak-hide ak-padding-left-none ak-errs-below">
                            <div class="ak-overflow ak-pull-right">
                                <a class="ak-emailalt ak-sendemail-opened">&times;</a>
                            </div>
                            <div>
                                <label for="id_taf_emails">
                                    To
                                </label>		
                                <textarea id="id_taf_emails" name="taf_emails" placeholder="{% filter ak_text:"taf_ask" %}Enter email addresses separated by commas{% endfilter %} "></textarea>
                            </div>
                            <div>
                                <div class="taf_subject">
                                    <label id="lbl_taf_subject" for="id_taf_subject">Subject</label> 
                                    <div id="id_taf_subject" class="ak-readonly-value ak-sharebox-tafsubject">{% include_tmpl page.followup.taf_subject escaped %}</div>
                                </div><!--tafsubject-->
                            </div>
                            <div>
                                <label for="id_taf_note">Your note</label>
                                <textarea id="id_taf_note" name="taf_note" placeholder="Optionally add a personal comment"></textarea>
                            </div>
                            <div>
                                <label for="id_taf_body">Message</label>
                                <div id="id_taf_body" name="taf_body" class="ak-readonly-value" style="white-space: pre-wrap">{% filter referring_akid:akid|tag_links:"source=taf" %}{% include_tmpl page.followup.taf_body escaped %}{% endfilter %}</div>
                            </div>

                            <div>
                                <label></label>
                                <button type="submit" class="ak-sendmessage ak-btn-short">{% filter ak_text:"taf_send_messages" %}Send{% endfilter %}</button>
                            </div>
                        </div><!--tafpreview-->
                        <input type="hidden" name="required" value="taf_emails">

                    </div>

                </form>

                <script type="text/javascript">
                    if ( actionkit.args.taf ) {
                        $("#taf").show();
                    }
                    $(document).ready(function() {
                    	$('.ak-emailalt').on('click', function() {
                    		$(this).parent('p').toggleClass('active');
                    		$('#taf-form').slideToggle(function() {
                    			console.log('toggled!');
                    			$('#taf_form').toggleClass('ak-closed');
                    		});
                    		$('#copy-and-paste').slideToggle();
                    	});
                    });
                </script>
    
            {% endif %}

        </div>
    </div>
    
{% endif %}

{% endautoescape %}
{% endblock %}

{% block below_form %}

<script type="text/javascript">
    actionkit.forms.contextRoot = '/context/';
    actionkit.forms.initTafForm('taf');
    actionkit.sharing.initShareTools();
</script>

{% endblock %}
